<table>
    <tr>
        <td?<a href="">Log In</a>
        <td><a href="{{ site.baseurl }}/">Home</a></td>
        <td><a href="{{ site.baseurl }}/azeem">Project ScrumBoard</a></td>
        <td><a href="{{ site.baseurl }}/ahad">DevOps and DNS</a></td>
        <td><a href="{{ site.baseurl }}/josh">LiDEO Development</a></td>
        <td><a href="{{ site.baseurl }}/akshat">LiDEO Database for IPOs</a></td>
        <td><a href="{{ site.baseurl }}/rubric">Vision</a></td>
        <td><a href="{{ site.baseurl }}/agile-manifesto">Agile Manifesto</a></td>
    </tr>
</table>